* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.result {
    border: 1px solid;
    width: fit-content;
    margin: 3vh auto;
    padding: 0.2rem;
}

.r-words {
    border: 1px solid black;
    padding: 0 .5rem;
}

.collection {
    border: 1px solid;
    /* height: 60vh; */
    width: fit-content;
    margin: 0 auto;
    /* display: flex; */
}

.row {
    display: flex;
}

.word {
    border: 1px solid green;
    margin: 0.5rem;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}